<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developer.facescan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.developer.facescan.application.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FingerBioScan"
        tools:targetApi="33"
        tools:replace="android:icon,android:theme">
        <activity
            android:name="com.developer.facescan.views.CameraActivity"
            android:exported="false" />
        <activity
            android:name="com.developer.facescan.views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.developer.facescan.views.InstructionActivity"
            android:exported="false" />
        <activity
            android:name="com.developer.facescan.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.developer.facescan.views.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>